@model BibliotecaOnline.Models.Livro

@{
    ViewData["Title"] = "Detalhes do Livro";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center">Detalhes do Livro</h2>

    <div class="row">
        <dl class="row">
            <dt class="col-sm-3">Código</dt>
            <dd class="col-sm-9">@Model.Codigo</dd>

            <dt class="col-sm-3">Título</dt>
            <dd class="col-sm-9">@Model.Titulo</dd>

            <dt class="col-sm-3">Autor</dt>
            <dd class="col-sm-9">@Model.Autor</dd>

            <dt class="col-sm-3">Categorias</dt>
            <dd class="col-sm-9">@Model.Categoria</dd>

            <dt class="col-sm-3">Editora</dt>
            <dd class="col-sm-9">@Model.Editora)</dd>
        </dl>

        <div class="text-center mt-4">
            <a asp-action="Edit" asp-route-id="@Model.Codigo" class="btn btn-primary me-2">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>